<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">



    <bean id="donorRepository" class="repository.DonorRepository"/>
    <bean id="addressRepository" class="repository.AddressRepository"/>
    <bean id="doctorRepository" class="repository.DoctorRepository"/>
    <bean id="administratorRepository" class="repository.AdministratorRepository"/>
    <bean id="doctorRequestRepository" class="repository.DoctorRequestRepository"/>
    <bean id="patientRepository" class="repository.PatientRepository"/>
    <bean id="bloodBagRepository" class="repository.BloodBagRepository"/>
    <bean id="locationRepository" class="repository.LocationRepository"/>
    <bean id="donorRequestFormRepository" class="repository.DonorRequestFormRepository"/>
    <bean id="medicalCenterRepository" class="repository.MedicalCenterRepository"/>




    <bean id="donationService" class="servers.DonationServer">
        <constructor-arg ref="donorRepository"/>
        <constructor-arg ref="addressRepository"/>
        <constructor-arg ref="doctorRepository"/>
        <constructor-arg ref="administratorRepository"/>
        <constructor-arg ref="doctorRequestRepository"/>
        <constructor-arg ref="patientRepository"/>
        <constructor-arg ref="bloodBagRepository"/>
        <constructor-arg ref="locationRepository"/>
        <constructor-arg ref="donorRequestFormRepository"/>
        <constructor-arg ref="medicalCenterRepository"/>


    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">

        <property name="serviceName" value="Donation"/>
        <property name="service" ref="donationService"/>
        <property name="serviceInterface" value="services.IDonationServer"/>
        <property name="servicePort" value="1099"/>
    </bean>



</beans>